<h1>Filter with:</h1>

<div>
  <div class="data-table">
    <mat-form-field appearance="fill">
      <mat-label>Sensor Id</mat-label>
      <input matInput type="number" [(ngModel)]="filteredSensorId" name="integerInput">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Select a Sensor Type</mat-label>
      <mat-select (selectionChange)="onTypeChange($event)" [(value)]="selectedSensorType">
        <mat-option [value]="'temp'">Temp</mat-option>
        <mat-option [value]="'smoke'">Smoke</mat-option>
        <mat-option [value]="'all'">All</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Select Data range</mat-label>
      <mat-date-range-input
        [formGroup]="dateRange"
        [rangePicker]="dateRangePicker"
        [comparisonStart]="dateRange.value.start"
        [comparisonEnd]="dateRange.value.end">
        <input matStartDate placeholder="Start date" formControlName="start">
        <input matEndDate placeholder="End date" formControlName="end">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table class="full-width-table" matSort aria-label="Elements" >
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- sensorType Column -->
      <ng-container matColumnDef="sensorType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>sensorType</th>
        <td mat-cell *matCellDef="let row">{{row.sensorType}}</td>
      </ng-container>
      <!-- value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
        <td mat-cell *matCellDef="let row">{{row.value}}</td>
      </ng-container>
        <!-- date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row">{{row.date | date:'shortDate'}}</td>
      </ng-container>
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator
        
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page">
    </mat-paginator>
  </div>
  
</div>
